body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.contentSection {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f3f3f3;
}

h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="range"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Allow vertical resizing only */
}

input[type="range"] {
    margin: 10px 0;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

    button[type="button"] {
        background-color: #007BFF; /* Blue */
    }

    button:hover {
        opacity: 0.9;
    }

    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #04AA6D;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #04AA6D;
        cursor: pointer;
    }

