@model IEnumerable<poc_project_Double_Materiality_Assessment.Models.Entities.MaterialIssue>

<h2>Material Issues</h2>

<table class="table">
    <thead>
        <tr>
            <th>Issue Name</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var issue in Model)
        {
                <tr>
                    <td>@issue.IssueName</td>
                    <td>@issue.IssueCategory</td>
                </tr>
        }
    </tbody>
</table>
